<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CoreSimulator.SimRuntime.iOS-9-3</key>
	<dict>
		<key>com.apple.CoreSimulator.SimDeviceType.iPad-2</key>
		<string>A30F9948-1C06-4070-8703-ACA097531D0E</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air</key>
		<string>5E95AF0D-3065-44D8-A68A-D96087EBC506</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-2</key>
		<string>CA0E85F4-B50C-4479-AD11-AFB719DACA64</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</key>
		<string>816DD84D-08CE-40C5-A8A3-E06EF673B0D2</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPad-Retina</key>
		<string>1C88E3B5-8131-44D2-B71B-9D499B0EE878</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-4s</key>
		<string>55734FA7-6542-4326-A710-5451CDADA0B7</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5</key>
		<string>154613BF-8589-4EE7-9C5A-E5EBA07259AE</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</key>
		<string>C8C46EFB-3DBB-41C6-9A16-BFB0D032D5FD</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6</key>
		<string>2DC4872C-11AB-48EE-B6EF-CD903519C68A</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus</key>
		<string>56587B98-7AA5-421A-AB6E-C52085A68807</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</key>
		<string>7507F4A9-B9BE-447D-AB1E-A4E8BCC2470F</string>
		<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s-Plus</key>
		<string>710A1C32-1A81-4896-8417-CACFF9FC609A</string>
	</dict>
	<key>com.apple.CoreSimulator.SimRuntime.tvOS-9-2</key>
	<dict>
		<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
		<string>B69EBA99-61DC-4709-88A8-D322F96CB38D</string>
	</dict>
	<key>com.apple.CoreSimulator.SimRuntime.watchOS-2-2</key>
	<dict>
		<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-38mm</key>
		<string>F1AD0D78-2391-4401-88E5-71DF76A14708</string>
		<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-42mm</key>
		<string>8908C9AD-C255-4D9A-AD11-301BBFA042EB</string>
	</dict>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
