<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>C877FD6B-52B3-4B3D-91A1-D0910FF104B1</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</string>
	<key>name</key>
	<string>iPad Pro</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-3</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
