<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBuild</key>
	<string>10.11.6:15G1004</string>
	<key>appRecords</key>
	<array>
		<array>
			<string>AppRecord</string>
			<string>WiFiAgent</string>
			<string>com.apple.wifi.WiFiAgent</string>
			<string>1121.34.2</string>
			<string>11.0</string>
			<integer>8370</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify</string>
			<string>com.spotify.client</string>
			<string>1.0.28.87.g8f9312a4-36</string>
			<string>1.0.28.87.g8f9312a4</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Kitematic (Beta) Helper</string>
			<string>com.electron.kitematic_(beta).helper</string>
			<string></string>
			<string></string>
			<integer>7174</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotlight</string>
			<string>com.apple.Spotlight</string>
			<string>972.34</string>
			<string>1.0</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ARDAgent</string>
			<string>com.apple.RemoteDesktopAgent</string>
			<string>3.8.5</string>
			<string>3.8.5</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>findNames</string>
			<string>com.apple.AppleSpell</string>
			<string>328.2</string>
			<string>2.3.2</string>
			<integer>7</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>QuickLookUIHelper</string>
			<string>com.apple.quicklook.ui.helper</string>
			<string>696.7</string>
			<string>5.0</string>
			<integer>4</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>cloudphotosd</string>
			<string>com.apple.cloudphotosd</string>
			<string>370.42.0</string>
			<string>1.5</string>
			<integer>10585</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>8264</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreServicesUIAgent</string>
			<string>com.apple.coreservices.uiagent</string>
			<string>145.1</string>
			<string>145.1</string>
			<integer>10714</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FolderActionsDispatcher</string>
			<string>com.apple.FolderActionsDispatcher</string>
			<string>1</string>
			<string>1.0</string>
			<integer>8370</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>2822</integer>
			<integer>0</integer>
			<integer>164</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SystemUIServer</string>
			<string>com.apple.systemuiserver</string>
			<string>426.1</string>
			<string>1.7</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Terminal</string>
			<string>com.apple.Terminal</string>
			<string>361.1</string>
			<string>2.6.1</string>
			<integer>6967</integer>
			<integer>456</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>34</integer>
			<integer>1</integer>
			<integer>2181</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>12</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.weather</string>
			<string>com.apple.ncplugin.weather</string>
			<string>39.1</string>
			<string>1.0</string>
			<integer>28</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Atom</string>
			<string>com.github.atom</string>
			<string>1.8.0</string>
			<string>1.8.0</string>
			<integer>4243</integer>
			<integer>77</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>6</integer>
			<integer>2</integer>
			<integer>1148</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preference.general.remoteservice</string>
			<string>com.apple.preference.general.remoteservice</string>
			<string>1</string>
			<string>1.0</string>
			<integer>14</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Managed Software Center</string>
			<string>com.googlecode.munki.ManagedSoftwareCenter</string>
			<string>2759</string>
			<string>4.2.2759</string>
			<integer>2824</integer>
			<integer>59</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>2</integer>
			<integer>406</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.dock.extra</string>
			<string>com.apple.dock.extra</string>
			<string>1</string>
			<string>1.0</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Events</string>
			<string>com.apple.systemevents</string>
			<string>1.3.6</string>
			<string>1.3.6</string>
			<integer>1203</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.SecurityAgent</string>
			<string>55249.40.9</string>
			<string>9.0</string>
			<integer>17</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.RemindersNC</string>
			<string>com.apple.RemindersNC</string>
			<string>408.2</string>
			<string>1.0</string>
			<integer>16</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>osascript</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Preferences</string>
			<string>com.apple.systempreferences</string>
			<string>14.0</string>
			<string>14.0</string>
			<integer>33</integer>
			<integer>32</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>32</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSHeartbeat</string>
			<string>com.apple.AOSHeartbeat</string>
			<string>233</string>
			<string>1.07</string>
			<integer>37</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>NotificationCenter</string>
			<string>com.apple.notificationcenterui</string>
			<string>448.6</string>
			<string>1.0</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Electron</string>
			<string>com.electron.kitematic_(beta)</string>
			<string>0.9.5</string>
			<string>0.9.5</string>
			<integer>7186</integer>
			<integer>896</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>35</integer>
			<integer>1</integer>
			<integer>3441</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Safari</string>
			<string>com.apple.Safari</string>
			<string>11601.7.8</string>
			<string>9.1.3</string>
			<integer>10422</integer>
			<integer>3113</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>118</integer>
			<integer>4</integer>
			<integer>7411</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LaterAgent</string>
			<string>com.apple.lateragent</string>
			<string>463.9</string>
			<string>1.0</string>
			<integer>10678</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>28</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>osascript</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Kitematic (Beta) Helper</string>
			<string>com.electron.kitematic_(beta).helper</string>
			<string></string>
			<string></string>
			<integer>12</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>node</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Dock</string>
			<string>com.apple.dock</string>
			<string>1617.4</string>
			<string>1.8</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>BezelUIServer</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1077</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>2092.3</string>
			<string>1.0</string>
			<integer>27</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>17</string>
			<string>1.0</string>
			<integer>27</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Keychain Circle Notification</string>
			<string>com.security.apple.Keychain-Circle-Notification</string>
			<string></string>
			<string>1.0</string>
			<integer>8370</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Networking</string>
			<string>com.apple.WebKit.Networking</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>3222</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AirPlayUIAgent</string>
			<string>com.apple.AirPlayUIAgent</string>
			<string>250.20</string>
			<string>2.0</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserNotificationCenter</string>
			<string>com.apple.UserNotificationCenter</string>
			<string>31</string>
			<string>3.3.0</string>
			<integer>178</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>applet</string>
			<string>com.apple.ScriptEditor.id.dockerquickstartterminalapp</string>
			<string></string>
			<string>1.3.0</string>
			<integer>5</integer>
			<integer>5</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Finder</string>
			<string>com.apple.finder</string>
			<string>10.11.4</string>
			<string>10.11.4</string>
			<integer>10719</integer>
			<integer>28</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>1619</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>loginwindow</string>
			<string>com.apple.loginwindow</string>
			<string>1639.4.3</string>
			<string>9.0</string>
			<integer>10719</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>2308</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Atom Helper</string>
			<string>com.github.atom.helper</string>
			<string>1.8.0</string>
			<string>1.8.0</string>
			<integer>568</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify Helper</string>
			<string>com.spotify.client.helper</string>
			<string></string>
			<string></string>
			<integer>8291</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTerm2</string>
			<string>com.googlecode.iterm2</string>
			<string>3.0.5</string>
			<string>3.0.5</string>
			<integer>10704</integer>
			<integer>2782</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>105</integer>
			<integer>5</integer>
			<integer>6790</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify Helper</string>
			<string>com.spotify.client.helper</string>
			<string></string>
			<string></string>
			<integer>12</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>12</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>TMHelperAgent</string>
			<string>com.apple.TMHelperAgent</string>
			<string>10.9</string>
			<string>10.9</string>
			<integer>317</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SecurityAgent</string>
			<string>com.apple.SecurityAgent</string>
			<string>55249.40.9</string>
			<string>9.0</string>
			<integer>91</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>appRecords_lastMas</key>
	<array/>
	<key>appsPerActivityPeriod</key>
	<array>
		<date>2016-09-18T10:42:34Z</date>
		<integer>1</integer>
		<array>
			<integer>2</integer>
			<integer>6</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>lastMorningLogDate</key>
	<date>2016-09-18T10:42:34Z</date>
	<key>lastWeeklyLogDate</key>
	<date>2016-09-18T10:42:34Z</date>
	<key>submissionScheduler</key>
	<array>
		<date>2016-09-18T23:17:11Z</date>
		<false/>
	</array>
	<key>systemRecord</key>
	<array>
		<string>SystemRecord</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<integer>10719</integer>
		<integer>7448</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>8050</integer>
	</array>
</dict>
</plist>
