<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBuild</key>
	<string>10.11.6:15G1004</string>
	<key>appRecords</key>
	<array>
		<array>
			<string>AppRecord</string>
			<string>WiFiAgent</string>
			<string>com.apple.wifi.WiFiAgent</string>
			<string>1121.34.2</string>
			<string>11.0</string>
			<integer>8369</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Core Sync</string>
			<string>com.adobe.accmac</string>
			<string>2.0.1.178</string>
			<string>2.0.1.178</string>
			<integer>8315</integer>
			<integer>0</integer>
			<integer>8</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify</string>
			<string>com.spotify.client</string>
			<string>1.0.28.87.g8f9312a4-36</string>
			<string>1.0.28.87.g8f9312a4</string>
			<integer>7960</integer>
			<integer>60</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>5</integer>
			<integer>3</integer>
			<integer>383</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>nbagent</string>
			<string>com.apple.nbagent</string>
			<string>1</string>
			<string>1.0</string>
			<integer>2524</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotlight</string>
			<string>com.apple.Spotlight</string>
			<string>972.34</string>
			<string>1.0</string>
			<integer>10545</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ARDAgent</string>
			<string>com.apple.RemoteDesktopAgent</string>
			<string>3.8.5</string>
			<string>3.8.5</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>findNames</string>
			<string>com.apple.AppleSpell</string>
			<string>328.2</string>
			<string>2.3.2</string>
			<integer>12</integer>
			<integer>0</integer>
			<integer>11</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>QuickLookUIHelper</string>
			<string>com.apple.quicklook.ui.helper</string>
			<string>696.7</string>
			<string>5.0</string>
			<integer>8</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>cloudphotosd</string>
			<string>com.apple.cloudphotosd</string>
			<string>370.42.0</string>
			<string>1.5</string>
			<integer>8330</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>227</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreServicesUIAgent</string>
			<string>com.apple.coreservices.uiagent</string>
			<string>145.1</string>
			<string>145.1</string>
			<integer>10464</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Script Editor</string>
			<string>com.apple.ScriptEditor2</string>
			<string>183.1</string>
			<string>2.8.1</string>
			<integer>184</integer>
			<integer>96</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>184</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FolderActionsDispatcher</string>
			<string>com.apple.FolderActionsDispatcher</string>
			<string>1</string>
			<string>1.0</string>
			<integer>8123</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>3466</integer>
			<integer>0</integer>
			<integer>138</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SystemUIServer</string>
			<string>com.apple.systemuiserver</string>
			<string>426.1</string>
			<string>1.7</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>502</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>8</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.weather</string>
			<string>com.apple.ncplugin.weather</string>
			<string>39.1</string>
			<string>1.0</string>
			<integer>79</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AdobeIPCBroker</string>
			<string>com.adobe.AdobeIPCBroker</string>
			<string>5.2.0.35</string>
			<string>5.2.0.35</string>
			<integer>10434</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Atom</string>
			<string>com.github.atom</string>
			<string>1.8.0</string>
			<string>1.8.0</string>
			<integer>94</integer>
			<integer>28</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>5</integer>
			<integer>1</integer>
			<integer>94</integer>
		</array>
		<array>
			<string>MasAppRecord</string>
			<string>Xcode</string>
			<string>com.apple.dt.Xcode</string>
			<string>10188.1</string>
			<string>7.3.1</string>
			<integer>1505</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>301</integer>
			<string>497799835</string>
			<string>817226719</string>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Managed Software Center</string>
			<string>com.googlecode.munki.ManagedSoftwareCenter</string>
			<string>2759</string>
			<string>4.2.2759</string>
			<integer>3575</integer>
			<integer>53</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>7</integer>
			<integer>2</integer>
			<integer>653</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.dock.extra</string>
			<string>com.apple.dock.extra</string>
			<string>1</string>
			<string>1.0</string>
			<integer>10545</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.SecurityAgent</string>
			<string>55249.40.9</string>
			<string>9.0</string>
			<integer>36</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>osascript</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Preferences</string>
			<string>com.apple.systempreferences</string>
			<string>14.0</string>
			<string>14.0</string>
			<integer>38</integer>
			<integer>19</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>19</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSHeartbeat</string>
			<string>com.apple.AOSHeartbeat</string>
			<string>233</string>
			<string>1.07</string>
			<integer>78</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>NotificationCenter</string>
			<string>com.apple.notificationcenterui</string>
			<string>448.6</string>
			<string>1.0</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Safari</string>
			<string>com.apple.Safari</string>
			<string>11601.7.8</string>
			<string>9.1.3</string>
			<integer>9663</integer>
			<integer>2141</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>59</integer>
			<integer>8</integer>
			<integer>7518</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.WebKit.WebContent</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LaterAgent</string>
			<string>com.apple.lateragent</string>
			<string>463.9</string>
			<string>1.0</string>
			<integer>10459</integer>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>PressAndHold</string>
			<string>com.apple.PressAndHold</string>
			<string>36</string>
			<string>1.3</string>
			<integer>4065</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>27</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>osascript</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>node</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Dock</string>
			<string>com.apple.dock</string>
			<string>1617.4</string>
			<string>1.8</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>BezelUIServer</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1219</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>2092.3</string>
			<string>1.0</string>
			<integer>78</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>17</string>
			<string>1.0</string>
			<integer>80</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Keychain Circle Notification</string>
			<string>com.security.apple.Keychain-Circle-Notification</string>
			<string></string>
			<string>1.0</string>
			<integer>8077</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Networking</string>
			<string>com.apple.WebKit.Networking</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>8012</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Adobe CEF Helper</string>
			<string>com.adobe.acc.HEXHelper</string>
			<string>3.5.0.205</string>
			<string>3.5.0.205</string>
			<integer>10508</integer>
			<integer>0</integer>
			<integer>15</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AirPlayUIAgent</string>
			<string>com.apple.AirPlayUIAgent</string>
			<string>250.20</string>
			<string>2.0</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Databases</string>
			<string>com.apple.WebKit.Databases</string>
			<string>11601.7.8</string>
			<string>11601</string>
			<integer>466</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Finder</string>
			<string>com.apple.finder</string>
			<string>10.11.4</string>
			<string>10.11.4</string>
			<integer>10550</integer>
			<integer>985</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>82</integer>
			<integer>10</integer>
			<integer>6386</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify</string>
			<string>com.spotify.client</string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>loginwindow</string>
			<string>com.apple.loginwindow</string>
			<string>1639.4.3</string>
			<string>9.0</string>
			<integer>10550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Atom Helper</string>
			<string>com.github.atom.helper</string>
			<string>1.8.0</string>
			<string>1.8.0</string>
			<integer>93</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify Helper</string>
			<string>com.spotify.client.helper</string>
			<string></string>
			<string></string>
			<integer>253</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTerm2</string>
			<string>com.googlecode.iterm2</string>
			<string>3.0.5</string>
			<string>3.0.5</string>
			<integer>10461</integer>
			<integer>6887</integer>
			<integer>5</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>137</integer>
			<integer>11</integer>
			<integer>10460</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Adobe Desktop Service</string>
			<string>com.adobe.acc.AdobeDesktopService</string>
			<string>3.5</string>
			<string>3.5.1.209</string>
			<integer>10509</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Creative Cloud</string>
			<string>com.adobe.acc.AdobeCreativeCloud</string>
			<string>3.5</string>
			<string>3.5.1.209</string>
			<integer>10300</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>11</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>TMHelperAgent</string>
			<string>com.apple.TMHelperAgent</string>
			<string>10.9</string>
			<string>10.9</string>
			<integer>539</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SecurityAgent</string>
			<string>com.apple.SecurityAgent</string>
			<string>55249.40.9</string>
			<string>9.0</string>
			<integer>56</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotify Helper</string>
			<string>com.spotify.client.helper</string>
			<string></string>
			<string></string>
			<integer>524</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>appRecords_lastMas</key>
	<array/>
	<key>appsPerActivityPeriod</key>
	<array>
		<date>2016-09-19T08:43:59Z</date>
		<integer>4</integer>
		<array>
			<integer>5</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>lastMorningLogDate</key>
	<date>2016-09-19T08:43:59Z</date>
	<key>lastWeeklyLogDate</key>
	<date>2016-09-19T08:44:00Z</date>
	<key>submissionScheduler</key>
	<array>
		<date>2016-09-19T23:31:13Z</date>
		<false/>
	</array>
	<key>systemRecord</key>
	<array>
		<string>SystemRecord</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<integer>10550</integer>
		<integer>10270</integer>
		<integer>9</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>11</integer>
		<integer>9</integer>
		<integer>10548</integer>
	</array>
</dict>
</plist>
