<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>293AEA6E-9F1B-4B94-ACE6-F157CB03A93C</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad-Air</string>
	<key>name</key>
	<string>iPad Air</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-3</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
